<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="css/main.min.css">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="header__logo-box">
        <img src="images/logo.png" alt="logo" class="header__logo">
    </div>
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Outdoors</span>
            <span class="heading-primary--sub">is where life happens</span>
        </h1>
        <a href="#" class="btn btn--white btn--fadein">Discover our tours</a>
    </div>
</header>
<main>
    <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Exciting tours for adventurous people
            </h2>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">You`re going to fall in love with nature</h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet architecto corporis delectus
                    enim, esse est facere impedit iure labore minus natus nemo, nihil perferendis quas recusandae rerum
                    saepe, velit
                </p>
                <h3 class="heading-tertiary u-margin-bottom-small">Live adventures like you never have before</h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi deleniti eveniet
                    explicabo, hic numquam quis sit!
                </p>
                <a href="#" class="btn-text">Read more &rarr;</a>
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="images/nat-1.jpg" alt="photo-1" class="composition__photo composition__photo--p1">
                    <img src="images/nat-2.jpg" alt="photo-2" class="composition__photo composition__photo--p2">
                    <img src="images/nat-3.jpg" alt="photo-3" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
    </section>
    <section class="section-feature">
        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box  u-center-text">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Explore the world</h3>
                    <p class="feature-box__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores,
                        consectetur delectus dignissimos </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box u-center-text">
                    <i class="feature-box__icon icon-basic-compass"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Meet nature</h3>
                    <p class="feature-box__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores,
                        consectetur delectus dignissimos </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box u-center-text">
                    <i class="feature-box__icon icon-basic-map"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Find your way</h3>
                    <p class="feature-box__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores,
                        consectetur delectus dignissimos </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box u-center-text">
                    <i class="feature-box__icon icon-basic-heart"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">live a healthier life</h3>
                    <p class="feature-box__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores,
                        consectetur delectus dignissimos </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-tours">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Most popular tours
            </h2>
        </div>
        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">Explore Nepal</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>7 days tour</li>
                                <li>Up to 30 people</li>
                                <li>2 tour guides</li>
                                <li>Sleep in cozy hotels</li>
                                <li>Difficulty: Very hard</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$1299</p>
                            </div>
                            <a href="" class="btn btn--white">Book now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">Explore fujiyama</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>4 days tour</li>
                                <li>Up to 50 people</li>
                                <li>5 tour guides</li>
                                <li>Sleep in cozy hotels</li>
                                <li>Difficulty: Medium</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$1199</p>
                            </div>
                            <a href="" class="btn btn--white">Book now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">Explore alpes</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>5 days tour</li>
                                <li>Up to 40 people</li>
                                <li>3 tour guides</li>
                                <li>Sleep in cozy hotels</li>
                                <li>Difficulty: Easy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Only</p>
                                <p class="card__price-value">$999</p>
                            </div>
                            <a href="" class="btn btn--white">Book now!</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="u-center-text u-margin-top-huge">
            <a href="#" class="btn btn--blue">Discover all tours</a>
        </div>
    </section>

    <section class="section-stories">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="images/story-bg.mp4">
                Your browser not supported!!!
            </video>
        </div>
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                We make people genuinely happy
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-1">
                <div class="story">
                    <figure class="story__shape">
                        <img src="images/man-story.jpg" class="story__img" alt="">
                        <figcaption class="story__caption">
                            Jim Bear
                        </figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            I had the best week ever with my family
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci alias animi corporis cupiditate dolor illum inventore ipsam iste laudantium minima, minus perspiciatis quisquam suscipit, unde veritatis voluptatem. Aliquam, necessitatibus! Ad adipisci alias animi corporis cupiditate.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-1">
                <div class="story">
                    <figure class="story__shape">
                        <img src="images/wooman-story.jpg" class="story__img" alt="">
                        <figcaption class="story__caption">
                            Alena Bennet
                        </figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            It was really amazing
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci alias animi corporis cupiditate dolor illum inventore ipsam iste laudantium minima, minus perspiciatis quisquam suscipit, unde veritatis voluptatem. Aliquam, necessitatibus! Ad adipisci alias animi corporis cupiditate.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-center-text u-margin-top-huge">
            <a href="#" class="btn-text">Read all stories &rarr;</a>
        </div>
    </section>

    <section class="section-book">

        <div class="row">
            <div class="book">
                <div class="book__form">
                    <form action="#" class="form">
                        <div class="u-margin-bottom-medium">
                            <h2 class="heading-secondary">
                                Start booking now
                            </h2>
                        </div>
                        <div class="form__group">
                            <input type="text" id="name" class="form__input" placeholder="Full Name" required>
                            <label class="form__label" for="name">Full Name</label>
                        </div>
                        <div class="form__group">
                            <input type="email" id="email" class="form__input" placeholder="Email Address" required>
                            <label class="form__label"  for="email">Email Address</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>