body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
}
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; //removing shaking
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    margin-left: -1.75rem;
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  @include makeTextGradient;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  backface-visibility: hidden; //removing shaking
  &:hover{
    transform: translateY(-5px);
    text-shadow: 0.5rem  1rem  2rem rgba($color-primary-dark, .2);
    letter-spacing: 0.5rem;
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph{
  font-size: $default-font-size;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}