.footer{
  background-color: $color-gray-dark-3;
  padding: 10rem;
  font-size: 1.4rem;

  &__logo-box{
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo{
    width: 15rem;
  }

  &__navigation{
    padding-top: 2rem;
    border-top: 1px solid $color-gray-dark;
    display: inline-block;
  }

  &__list{
    list-style: none;
  }

  &__item{
    display: inline-block;
    &:not(:last-child){
      margin-right: 2rem;
    }
    &:hover a{

    }
  }

  &__link{
    &:link,
    &:visited{
      color: $color-gray-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.3s ease;
      backface-visibility: hidden;
    }
    &:hover,
    &:active{
      color: $color-primary;
      transform: rotate(5deg) scale(1.5);
      text-shadow: 0 1rem 2rem  rgba($color-black, .4);

    }
  }



  &__copyright{
    padding-top: 2rem;
    border-top: 1px solid $color-gray-dark;
    display: inline-block;

    & span{
      display: block;
    }
  }
}