
.header {
  height: 95vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, .8),
                  rgba($color-primary-dark, .8)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  animation: backGroundAnimation 1.1s ease 1s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;


  &__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem;
  }

  &__logo {
    height: 10rem;
    animation: logoAnimation 1s ease 1.4s;
    animation-fill-mode: backwards;
    //backface-visibility: hidden; //removing shaking

  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}