.form{
  &__group:not(:last-child){
    margin-bottom: 2rem;
  }

  &__input{
    color: inherit;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: $color-white;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease;
    width: 90%;
    display: block;
    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid{
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder{
      color: $color-gray-dark-2;
    }

  }
  &__label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    opacity: 1;
    transition: all 0.4s ease;
    transform: translateY(0);
  }
  &__input:placeholder-shown ~ &__label{

    transform: translateY(-4rem);
    opacity: 0;
  }


  &__radio-group{
    width: 49%;
    display: inline-block;
  }


  &__radio-label{
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
  }

  &__radio-button{
    height: 2rem;
    width: 2rem;
    border: 3px solid $color-primary;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;

    &:after{
      opacity: 0;
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0) ;
      background-color: $color-primary;
      transition: all .4s ease;

    }
  }

  &__radio-input{
    display: none;
  }
  &__radio-input:checked + &__radio-label &__radio-button::after{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }


}