//********** COLORS
$color-primary-light: rgb(0, 217, 225);
$color-primary: #02a5cc;
$color-primary-dark: rgb(1, 104, 155);

$color-white: #fcfcfc;
$color-black: #000;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

//Gradients for tour section
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-fourthary-light: #2fd79a;
$color-fourthary-dark: #00aaaa;


//********** FONTSIZE
$default-font-size: 1.6rem;


//********** GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

