//********** COLORS
$color-primary-light: rgb(0, 217, 225);
$color-primary: #02a5cc;
$color-primary-dark: rgb(1, 104, 155);
$color-gray-dark: #777;
$color-white: #fcfcfc;
$color-black: #000;

$color-gray-light-1: #f7f7f7;


//********** FONTSIZE
$default-font-size: 1.6rem;


//********** GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

