.section-about {
  background-color: $color-gray-light-1;
  padding: 35rem 0  25rem;
  margin-top: -20vh;
}

.section-feature{
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, .8),
                  rgba($color-primary-dark, .8)), url(../images/features-bg.jpg);
  background-size: cover;
  background-position: center;
}