.section-about {
  background-color: $color-gray-light-1;
  padding: 35rem 0;
  margin-top: -20vh;
}

.section-feature{
  margin-top: -23rem;
  padding: 30rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, .8),
                  rgba($color-primary-dark, .8)), url(../images/features-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include skewSection;

}

.section-tours{
  margin-top: -23rem;
  background-color: $color-gray-light-1;
  padding: 35rem 0;
}